name: Module CI

on:
  push:
  pull_request:

jobs:
  ci:
    uses: emteknetnz/github-actions-ci-cd/.github/workflows/ci.yml@dynamic
    with:
      composer_require_extra: "silverstripe/widgets:^2 silverstripe/comments:^3 silverstripe/content-widget:^2"

# re-run build ..
